root = true

[*]
indent_style = space
indent_size = 4
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = false
insert_final_newline = true

[*.{ps1,psm1}]
file_header_template = Copyright (c) Microsoft Corporation.\nLicensed under the MIT License.
