
# Created by https://www.gitignore.io/api/powershell

### PowerShell ###
# Exclude packaged modules
*.zip

# Exclude .NET assemblies from source
*.dll


# End of https://www.gitignore.io/api/powershell

# Pester output
TestsResults.xml

# Package output
out
